{erl_opts, [debug_info]}.

{deps, [
        {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {tag, "4.2.1"}}},
        {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.7.0"}}},
        {iso8601, ".*", {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3.1"}}},
        {getopt,  "1.0.1"}
]}.

{escript_incl_apps,
 [edbfly]}.
{escript_main_app, edbfly}.
{escript_name, edbfly}.
{escript_emu_args, "%%! +sbtu +A1 +K true -sname edbfly -smp enable\n"}.

%% xref configurations
{xref_checks,[undefined_function_calls,undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
